<div [ngClass]="{'card h-100 p-3': true, 'opacity-50': !product.stock}">
  <div class="image-container d-flex justify-content-center h-100">
    <img [src]="product.image[0]" alt=""
         class="card-img-top product-image align-self-center"
    >
  </div>
  <div class="card-body d-flex flex-column justify-content-end">
    <p [title]="product.title"
       class="card-title text-truncate lead">{{product.title}}</p>
    <h6 class="card-subtitle mb-2 text-muted">Rs. {{product.price}}/-</h6>
    <p
      [ngClass]="{'card-subtitle mb-2 small':true, 'in-stock': product.stock, 'out-of-stock': !product.stock}">
      {{product.stock ? 'In Stock' : 'Out of Stock'}}
    </p>
    <span class="rating">
      {{product.rating.rate}}
      <i class="bi bi-star-half"></i>
      &nbsp;
      <small>({{product.rating.count}})</small>
    </span>
  </div>
</div>
