rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	
    match /products/{document} {
  		allow read;
  	}
    
    match /products/{document} {
      function getRole(role){
          return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.roles[role]
      }
      allow create, update, delete: if getRole('admin') == true;
    }
    
    match /users/{document}{
    	allow read, write;
      
      match /wishlist/{document}{
      	allow read, write;
      }
      match /checkout/{document}{
      	allow read, write;
      }
      
    }
    
    match /orders/{document}{
    	allow read, write;
    }
  }
}