<app-header></app-header>

<div class="nav-buttons">
  <!-- Buttons to change the active component/screen -->
  <button
    class="btn"
    (click)="onStatusChange('binding')"
    title="Attribute and Property Binding"
  >
    Attribute and Property Binding
  </button>
  <button
    class="btn"
    (click)="onStatusChange('services')"
    title="Services and Dependency Injection"
  >
    Services and Dependency Injection
  </button>
  <button
    class="btn"
    (click)="onStatusChange('observables')"
    title="Observables"
  >
    Observables
  </button>
  <button
    class="btn"
    (click)="onStatusChange('errorHandling')"
    title="Error Handling"
  >
    Error Handling
  </button>
</div>
<hr />
<!-- Components -->
<app-binding *ngIf="currentScreen['binding'].status"></app-binding>
<app-services *ngIf="currentScreen['services'].status"></app-services>
<app-observables *ngIf="currentScreen['observables'].status"></app-observables>
<app-error-handling
  *ngIf="currentScreen['errorHandling'].status"
></app-error-handling>
