<div class="search-bar-container">
  <div class="input-group">
    <input [(ngModel)]="searchLocation" class="form-control"
           minlength="3"
           type="search">
    <button (click)="getWeatherOnClick()"
            [disabled]="searchLocation.length < 3"
            class="btn btn-outline-secondary">
      Search
    </button>
  </div>
</div>

<div class="content mt-3">
  <div *ngIf="!LOADING && weatherData" class="weather-item">
    <div *ngFor="let weather of weatherData; let i = index">
      <app-weather-item [fromFirebase]="fromFirebase" [index]="i"
                        [weatherData]="weather"></app-weather-item>
    </div>
  </div>
  <div *ngIf="LOADING" class="loader">
    <app-loader></app-loader>
  </div>
  <div *ngIf="HAS_ERROR" class="alert alert-danger">
    <p>{{ badLocation }} not found.</p>
  </div>
</div>
