<div
  class="top-nav-container sticky-top bg-light p-3 mb-3 shadow-sm">
  <div
    class="nav justify-content-center justify-content-lg-start justify-content-md-start">
    <ul class="nav nav-pills gap-3">
      <!-- Products Tab-->
      <li class="nav-item">
        <a [routerLinkActiveOptions]="{exact: true}"
           [routerLink]="helper.routing.admin.products"
           class="nav-link text-secondary"
           routerLinkActive="text-light text-bg-secondary">{{helper.text.products}}</a>
      </li>
      <li class="vr h-50 align-self-center"></li>
      <!-- Users Tab-->
      <li class="nav-item">
        <a [routerLink]="helper.routing.admin.users"
           class="nav-link text-secondary"
           routerLinkActive="text-bg-secondary text-light">{{helper.text.users}}</a>
      </li>
      <li class="vr h-50 align-self-center"></li>
      <!--  Log Out Button -->
      <li class="nav-item">
        <a (click)="onLogout()" class="nav-link text-secondary"
           role="button">{{helper.text.logout}}</a>
      </li>
    </ul>
  </div>
</div>
