<!--  Banners -->
<div class="carousel slide mb-5"
     data-bs-ride="carousel"
     data-bs-touch="true"
     id="image-carousel">
  <div class="carousel-indicators">
    <button aria-current="true" aria-label="Slide 1"
            class="active" data-bs-slide-to="0"
            data-bs-target="#image-carousel"
            type="button"></button>
    <button aria-label="Slide 2" data-bs-slide-to="1"
            data-bs-target="#image-carousel"
            type="button"></button>
    <button aria-label="Slide 3" data-bs-slide-to="2"
            data-bs-target="#image-carousel"
            type="button"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2000">
      <img alt="Discount Banner" class="d-block w-100 banner"
           src="https://images.pexels.com/photos/3806753/pexels-photo-3806753.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
      >
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img alt="Discount Banner" class="d-block w-100 banner"
           src="https://images.pexels.com/photos/5632402/pexels-photo-5632402.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
      >
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img alt="Discount Banner" class="d-block w-100 banner"
           src="https://images.pexels.com/photos/5650026/pexels-photo-5650026.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
      >
    </div>
  </div>

  <button class="carousel-control-prev" data-bs-slide="prev"
          data-bs-target="#image-carousel" type="button">
    <span aria-hidden="true" class="carousel-control-prev-icon"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" data-bs-slide="next"
          data-bs-target="#image-carousel" type="button">
    <span aria-hidden="true" class="carousel-control-next-icon"></span>
    <span class="visually-hidden">Next</span>
  </button>

</div>


<app-loader *ngIf="loading"></app-loader>

<div *ngIf="allProducts && !loading">
  <div
    class="container-fluid col-10 offset-1 mb-5">

    <!--  Categories container -->
    <div class="category-container mb-4">
      <div class="row d-flex flex-row justify-content-center">

        <div *ngFor="let category of categories"
             [routerLink]="[helpers.routing.categoryRouteAbsolute,category.route]"
             [title]="category.category"
             class="col category-button p-3"
             role="button">
          <div class="d-flex flex-column align-items-center">
            <img [src]="category.image"
                 alt=""
                 class="img-fluid category-image"
            >
            <div class="lead text-center"><small>{{category.category}}</small>
            </div>
          </div>
        </div>

      </div>
    </div>
    <hr>

    <!--  Recommended Products slider -->
    <div class="lead">Recommended Products</div>
    <app-products-slider
      [relatedProducts]="recommendedProducts"
      [screenBreakpoint]="screenBreakpoint"
      [sliderProducts]="sliderProducts"></app-products-slider>
  </div>
</div>
