<div class="container container-fluid mt-5">
  <div class="row">
    <!-- Loader  -->
    <div *ngIf="isLoading" class="text-center">
      <app-loader></app-loader>
    </div>

    <!-- Input Form   -->
    <form #authForm="ngForm"
          (ngSubmit)="onSubmit(authForm)"
          *ngIf="!isLoading">
      <div class="form-group">
        <label for="email">E-mail</label>
        <input
          class="form-control"
          email
          id="email"
          name="email"
          ngModel
          placeholder="email"
          required
          type="email"
        >
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          class="form-control"
          id="password"
          minlength="6"
          name="password"
          ngModel
          placeholder="password"
          required
          type="password"
        >
      </div>
      <div class="form-group">
        <!--      <button [disabled]="authForm.invalid" class="btn btn-primary"-->
        <!--              type="submit">Login-->
        <!--      </button>-->
        <button class="btn btn-primary"
                type="submit">Login
        </button>
      </div>
    </form>
    <button (click)="onSignupClicked()" class="btn btn-outline-primary">Sign
      Up
    </button>
  </div>
</div>
