<div class="container-fluid container">
  <div class="title-container display-6 container-fluid container">
    My Cart
    <hr>
  </div>
</div>
<div *ngIf="pageProps.loading" class="loader">
  <app-loader></app-loader>
</div>

<div *ngIf="checkoutProducts && !pageProps.loading"
     class="container container-fluid mb-5">
  <div *ngIf="checkoutProducts.length">
    <div *ngFor="let product of checkoutProducts; let i = index"
         class="checkout-item-container">
      <app-checkout-item (delete)="onDeleteClicked(i, product.id)" [index]="i"
                         [product]="product"></app-checkout-item>
    </div>
    <hr>
    <div
      class="checkout-details d-flex justify-content-lg-end justify-content-md-end">
      <div class="col-12 col-md-4 col-lg-4 lead">
        <div class="row">
          <div class="col text-start">
            <small>
              Subtotal
            </small>
          </div>
          <div class="col text-end">
            {{total}}
          </div>
        </div>
        <div class="row">
          <div class="col text-start">
            <small>
              Shipping
            </small>
          </div>
          <div class="col text-end">
            0
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col text-start">
            <strong>
              Total
            </strong>
          </div>
          <div class="col text-end">
            <strong>
              &#8377;{{total}}/-
            </strong>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <button (click)="onPlaceOrderClicked()"
                    class="btn btn-outline-success w-100">Place you order
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!checkoutProducts.length"
       class="container container-fluid lead">
    <a class="btn" routerLink="/" type="button">
      Add products to your Cart
      <i class="bi bi-arrow-right"></i>
    </a>
    <!--    Your Cart is empty. Look through our catalogue of products with amazing-->
    <!--    deals to find something you like.-->
  </div>

</div>
