.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
  margin: 20px;
  padding: 20px;
}
/* Default input styles */
.input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  padding-inline: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 10px 0px;
}
/* Error and success style for input */
.input-error {
  border: 2px solid rgba(250, 0, 0, 1);
}
.input-success {
  border: 2px solid green;
}
/* Error Styles */
.error {
  font-size: small;
  color: #fff;
  position: absolute;
  background-color: #ff0000;
  z-index: 10000000;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px;
}
/* Default button styles. */
.btn {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
}
/* Classes to handle button style based on status */
.enabled {
  color: #fff;
  background-color: rgba(0, 111, 0, 1);
  box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 10px 0px;
}
