<div class="content">
  <h3>Create a new Account.</h3>
  <!-- Input fields -->
  <form
    (ngSubmit)="onSubmit()"
    [formGroup]="userFormGroup"
    class="form-container"
  >
    <div class="input-container">
      <label for="username">Username</label>
      <input
        type="text"
        name="username"
        id="username"
        placeholder="Username"
        title="Username"
        formControlName="username"
        [ngClass]="{
          input: true,
          'input-error':
            username?.invalid && (username?.dirty || username?.touched),
          'input-success': !username?.invalid
        }"
      />
      <!-- Error Messages based on Input ******************************************************************-->
      <div
        class="error username-error"
        *ngIf="username?.invalid && (username?.dirty || username?.touched)"
      >
        <!-- If the input is invalid -->
        <div *ngIf="username?.value">
          {{ helper.USERNAME.invalid }}
        </div>
        <!-- If the input is empty -->
        <div *ngIf="username?.errors?.['required']">
          {{ helper.USERNAME.required }}
        </div>
      </div>
      <!-- *************************************************************************************** -->
    </div>
    <div class="input-container">
      <label for="email">Email</label>
      <input
        name="email"
        id="email"
        placeholder="Email"
        title="Email"
        formControlName="email"
        [ngClass]="{
          input: true,
          'input-error': email?.invalid && (email?.dirty || email?.touched),
          'input-success': !email?.invalid
        }"
      />
      <!-- Error Messages based on Input ******************************************************************-->
      <div
        class="error email-error"
        *ngIf="email?.invalid && (email?.dirty || email?.touched)"
      >
        <!-- If the email is invalid -->
        <div *ngIf="email?.value">
          {{ helper.EMAIL.invalid }}
        </div>
        <!-- If the email is empty -->
        <div *ngIf="email?.errors?.['required']">
          {{ helper.EMAIL.required }}
        </div>
      </div>
      <!-- *************************************************************************************** -->
    </div>
    <div class="input-container">
      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Password"
        title="Password"
        formControlName="password"
        [ngClass]="{
          input: true,
          'input-error':
            password?.invalid && (password?.dirty || password?.touched),
          'input-success': !password?.invalid
        }"
      />
      <!-- Error Messages based on Input ******************************************************************-->
      <div
        class="error password-error"
        *ngIf="password?.invalid && (password?.dirty || password?.touched)"
      >
        <!-- If the password is invalid -->
        <div *ngIf="password?.value">
          {{ helper.PASSWORD.invalid }}
        </div>
        <!-- If the password is empty -->
        <div *ngIf="password?.errors?.['required']">
          {{ helper.PASSWORD.required }}
        </div>
      </div>
      <!-- *************************************************************************************** -->
    </div>
    <button
      [ngClass]="{
        disabled: !userFormGroup.valid,
        enabled: userFormGroup.valid,
        btn: true
      }"
      [disabled]="!userFormGroup.valid"
      type="submit"
      title="Create Account"
    >
      Create Account
    </button>
  </form>
</div>
